.env sample

# 1. Server Port
port=5000

# 2. Database (Deployment ke time Cloud URL yahan dalna)
# MONGO_URL=mongodb://localhost:27017/Bagchee_Store

# 3. Security Secrets (Koi mushkil string likho)
JWT_SECRET_KEY=xhasdfasg

# 4. Email Configuration (Google App Password)
EMAIL_USER=xyz@gmail.com
EMAIL_PASS=xydskjhfds

# 5. Payment Gateway (Razorpay Test Keys)
RAZORPAY_KEY_ID=ajdfksakf
RAZORPAY_KEY_SECRET=ksdajfsa

# 6. Frontend Connection (Deployment Magic Switch)
FRONTEND_URL=http://localhost:3000


NODE_ENV=development